astor==0.8.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
coverage==5.3.1
dataclasses==0.8
decorator==4.4.2
future==0.18.2
hyperopt==0.1.2
idna==2.10
joblib==1.0.0
json-tricks==3.15.5
netifaces==0.10.9
networkx==2.5
nni==1.9
numpy==1.19.5
pkg-resources==0.0.0
pkginfo==1.6.1
psutil==5.8.0
pymongo==3.11.2
PythonWebHDFS==0.2.3
requests==2.25.1
responses==0.12.1
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
schema==0.7.3
scikit-learn==0.24.0
scipy==1.5.4
simplejson==3.17.2
six==1.15.0
threadpoolctl==2.1.0
torch==1.7.1
tqdm==4.56.0
typing-extensions==3.7.4.3
urllib3==1.26.4
websockets==8.1
